body {
  background-size: 100%;
  background-image: url("https://keen-leavitt-bae97b.netlify.app/images/ryan-hutton-Jztmx9yqjBw-unsplash.jpg");
  font-family: "Urbanist", sans-serif;
  padding: 100px 50px;
}
h1 {
  font-weight: 100;
}
.vanilla-app {
  display: block;
  margin: 0 auto;
  border: 2px solid #27296d;
  border-radius: 25px;
  background: #ffffff;
  max-width: 720px;
  width: 100%;
  padding: 50px 50px;
  box-sizing: border-box;
}

.Weather-btn {
  background: #ffe168;
  border: none;
}
.col-9 {
  background: #f9f7fe;
  border: none;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  display: inline-block;
  font-size: 16px;
  height: 50px;
  line-height: 20px;
  padding: 15px 20px;
}
